<!DOCTYPE html>

<html>
    <head>
        <title>Amaze</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        <div class="navbar">
            <ul class="navbar-list">
                <li class="navbar-section">
                    <span id="amaze">Amaze&ensp;</span> — 
                    <span id="desc">&ensp;Best Deals on 
                        <span id="amazon">Amazon.ca</span>
                    </span> 
                <li>
                <li>
                    <span id="ca-img"><img src="/static/img/canada.png"></span>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="main-top">
                <h2>Search:</h2>
                <input type="text" id="search-product" placeholder="What would you like to purchase today?">
                <span><button type="button" class="btn btn-green send-message-to-server" id="search">Click</button></span>
            </div>
            <div class="main-middle">
                <div class="option-descriptions">
                    <ul>
                        <li>
                            Option 1:&ensp;As many ratings as possible, but also as cheap as possible.
                        </li>
                        <li>
                            Option 2:&ensp;As many stars as possible, but also as cheap as possible.
                        </li>
                        <li>
                            Option 3:&ensp;As many ratings as possible, and also as many stars as possible.
                        </li>
                    </ul>
                </div>
                <div class="option-buttons">
                    <span class="option" id="span-op1"><button type="button" class="option-btn btn btn-yellow chosen-option send-message-to-server" id="op1">Option 1</button></span>
                    <span class="option" id="span-op2"><button type="button" class="option-btn btn btn-yellow send-message-to-server" id="op2">Option 2</button></span>
                    <span class="option" id="span-op3"><button type="button" class="option-btn btn btn-yellow send-message-to-server" id="op3">Option 3</button></span>
                </div>
           </div>
            <div class="main-bottom">
                <div class="form-container">
                    <form id="filter">
                        <h3>Filter</h3>
                        <div>
                            <label> Min Price ($): </label>
                            <input type="text" id="min-price">
                        </div>
                        <div>
                            <label> Max Price ($): </label>
                            <input type="text" id="max-price">
                        </div>
                        <div class="addspace"></div>
                        <div>
                            <label> Min # of Stars (out of 5.0): </label>
                            <input type="text" id="min-num-of-stars">
                        </div>
                        <div>
                            <label> Max # of Stars (out of 5.0): </label>
                            <input type="text" id="max-num-of-stars">
                        </div>
                        <div class="addspace"></div>
                        <div>
                            <label> Min # of Reviews: </label>
                            <input type="text" id="min-num-of-ratings">
                        </div>
                        <div>
                            <label> Max # of Reviews:</label>
                            <input type="text" id="max-num-of-ratings">
                        </div>
                        <div class="addspace"></div>
                        <div>
                            <label> Max # of Products:</label>
                            <input type="text" id="max-num-of-products">
                        </div>
                        <button type="button" class="btn btn-green send-message-to-server" id="form-submit">Apply</button>
                    </form>
                </div> 
                <div class="products">
                    <p>Products Found:</p>
                    <ul class="product-list">
                        <li class="product">
                            <img src="https://m.media-amazon.com/images/I/71Og586RJCL._AC_UL320_.jpg">
                            <a href="https://www.amazon.ca/Hiearcool-MacBook-Multiport-Compatible-Nintendo/dp/B07WPTG7NX/ref=sr_1_2?crid=30SL717LCOFCZ&keywords=macbook+dongle&qid=1660070139&sprefix=macbook+dongle%2Caps%2C68&sr=8-2">
                                USB C Hub, Hiearcool Adapter USB C Dongle for MacBook Pro, 7 in 1 USB C to HDMI Multport Adapter Compatible for USB C Laptops and Other Type C Devices (4K HDMI USB3.0 SD/TF Card Reader 100W PD)
                            </a>
                            <span class="price">$35.99</span>
                            <span class="num-of-stars">4.6 stars</span>
                            <span class="num-of-ratings">32,039 ratings</span>
                        </li>
                        <li class="product">
                            Product on Amazon
                        </li>
                        <li class="product">
                            Product on Amazon
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="/static/js/script.js"></script>
    </body>
</html>
