<!DOCTYPE html>

<html>
    <head>
        <title>Amaze</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        <div class="navbar">
            <ul class="navbar-list">
                <li class="navbar-section">
                    <span id="amaze">Amaze&ensp;</span> — 
                    <span id="desc">&ensp;Best Deals on 
                        <span id="amazon">Amazon.ca</span>
                    </span> 
                <li>
                <li>
                    <div id="ca-img" class="div-country chosen-country"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/2880px-Flag_of_Canada_%28Pantone%29.svg.png" class="img-country send-message-to-server" id="ca"></div>
                    &ensp;
                    <div id="us-img" class="div-country"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/2560px-Flag_of_the_United_States.svg.png" class="img-country send-message-to-server" id="us"></div>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="main-top">
                <h2>Search:</h2>
                <input type="text" id="search-product" placeholder="What would you like to purchase today?">
                <span><button type="button" class="btn btn-green send-message-to-server" id="search">Click</button></span>
            </div>
            <div class="main-middle">
                <div class="msg"></div>
                <div class="option-descriptions">
                    <ul>
                        <li>
                            Option 1:&ensp;As many ratings as possible, but also as cheap as possible.
                        </li>
                        <li>
                            Option 2:&ensp;As many stars as possible, but also as cheap as possible.
                        </li>
                        <li>
                            Option 3:&ensp;As many ratings as possible, and also as many stars as possible.
                        </li>
                        <li>
                            Option 4:&ensp;As many ratings and stars as possible, but also as cheap as possible.
                        </li>
                    </ul>
                </div>
                <div class="option-buttons">
                    <span class="option" id="span-op1"><button type="button" class="option-btn btn btn-yellow" id="op1">Option 1</button></span>
                    <span class="option" id="span-op2"><button type="button" class="option-btn btn btn-yellow" id="op2">Option 2</button></span>
                    <span class="option" id="span-op3"><button type="button" class="option-btn btn btn-yellow" id="op3">Option 3</button></span>
                    <span class="option" id="span-op4"><button type="button" class="option-btn btn btn-yellow" id="op4">Option 4</button></span>
                </div>
           </div>
            <div class="main-bottom">
                <div class="form-container">
                    <form id="filter">
                        <h3>Filter</h3>
                        <div>
                            <label> Min Price ($): </label>
                            <input type="text" id="min-price">
                        </div>
                        <div>
                            <label> Max Price ($): </label>
                            <input type="text" id="max-price">
                        </div>
                        <div class="addspace"></div>
                        <div>
                            <label> Min # of Stars (out of 5.0): </label>
                            <input type="text" id="min-num-of-stars">
                        </div>
                        <div>
                            <label> Max # of Stars (out of 5.0): </label>
                            <input type="text" id="max-num-of-stars">
                        </div>
                        <div class="addspace"></div>
                        <div>
                            <label> Min # of Reviews: </label>
                            <input type="text" id="min-num-of-ratings">
                        </div>
                        <div>
                            <label> Max # of Reviews:</label>
                            <input type="text" id="max-num-of-ratings">
                        </div>
                        <div class="addspace"></div>
                        <div>
                            <label> Max # of Products:</label>
                            <input type="text" id="max-num-of-products">
                        </div>
                        <button type="button" class="btn btn-green" id="form-submit">Apply</button>

                    </form>
                </div> 
                <div class="products">
                    <p>Products Found:</p>
                    <ul class="product-list">
                    </ul>
                </div>
            </div>
        </div>
        <script src="/static/js/script.js"></script>
    </body>
</html>
